<html>

<head>
  <link href="{{ style_global }}" type="text/css" rel="stylesheet" />
  <link href="{{ style_default }}" type="text/css" rel="stylesheet" />
  <link href="{{ style_print }}" media='print' type="text/css" rel="stylesheet" />
  <link href="{{ style_print_adjust }}" media='print' type="text/css" rel="stylesheet" />
  {% for style in styles %}
    <link href="{{ style }}" type="text/css" rel="stylesheet" />
  {% endfor %}
  <style>
    {{ icon_styles | safe }}
  </style>

  <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/format.js') }}"></script>
</head>

<body>

  <div id="info-div" class="hidden">
    <div id="page_size" class="">{{ page_size }}</div>
    <div id="card_sides" class="">{{ card_sides }}</div>
    <div id="page_orientation" data-page-orientation="{{ page_orientation }}"></div>
  </div>

  <div id="display-options">
    <form action="http://localhost:5000/{{ game_name }}/?test=123">
      <div>
        <label><input type="checkbox" name="duplicates" value="true"{% if duplicates %} checked{% endif %} />Show duplicates</label>
      </div>
      <div>
        <label><input type="checkbox" name="ignore_only_print" value="true"{% if ignore_only_print %} checked{% endif %} />Ignore only_print settings</label>
      </div>

      <div>Show card sides:
        <label><input type="radio" name="card_sides" value="all"{% if card_sides == "all" %} checked{% endif %} />All</label>
        <label><input type="radio" name="card_sides" value="fronts"{% if card_sides == "fronts" %} checked{% endif %} />Fronts</label>
        <label><input type="radio" name="card_sides" value="backs"{% if card_sides == "backs" %} checked{% endif %} />Backs</label>
      </div>

      <div>Page size:
        <label><input type="radio" name="page_size" value="letter"{% if page_size == "letter" %} checked{% endif %} />Letter</label>
        <label><input type="radio" name="page_size" value="tabloid"{% if page_size == "tabloid" %} checked{% endif %} />Tabloid</label>
        <label><input type="radio" name="page_size" value="legal"{% if page_size == "legal" %} checked{% endif %} />Legal</label>
      </div>
      <div class="">Page orientation:
        <label><input type="radio" name="page_orientation" value="portrait"{% if page_orientation == "portrait" %} checked{% endif %} />Portrait</label>
        <label><input type="radio" name="page_orientation" value="landscape"{% if page_orientation == "landscape" %} checked{% endif %} />Landscape</label>
      </div>
      <div><label for="players">Number of players: </label>
        <select name="players" id="players">
          <option value="0"{% if not players %} selected="selected"{% endif %}>Any/all</option>
          <option value="1"{% if players == 1 %} selected="selected"{% endif %}>1</option>
          <option value="2"{% if players == 2 %} selected="selected"{% endif %}>2</option>
          <option value="3"{% if players == 3 %} selected="selected"{% endif %}>3</option>
          <option value="4"{% if players == 4 %} selected="selected"{% endif %}>4</option>
          <option value="5"{% if players == 5 %} selected="selected"{% endif %}>5</option>
          <option value="5"{% if players == 5 %} selected="selected"{% endif %}>6</option>
        </select>
      </div>
      <div><label for="skip_players">Number of players to skip: </label>
        <select name="skip_players" id="skip_players">
          <option value="0"{% if not skip_players %} selected="selected"{% endif %}>0</option>
          <option value="1"{% if skip_players == 1 %} selected="selected"{% endif %}>1</option>
          <option value="2"{% if skip_players == 2 %} selected="selected"{% endif %}>2</option>
          <option value="3"{% if skip_players == 3 %} selected="selected"{% endif %}>3</option>
          <option value="4"{% if skip_players == 4 %} selected="selected"{% endif %}>4</option>
          <option value="5"{% if skip_players == 5 %} selected="selected"{% endif %}>5</option>
        </select>
      </div>
      <div>
        <label>Title search: <input type="text" name="search" value="{{ search }}" /></label>
      </div>
      <div>
        <label>Card type: <input type="text" name="card_type" value="{{ card_type }}" /></label>
      </div>

      <input type="submit" value="Update" />
    </form>

    <button id="addImage"></button>

  </div>

  <div class="cards fronts">
    {% for card in fronts %}
    <div class="card {{ card.card_type }} {{ card.front_or_back }}" card_name="{{ card.name }}">
      <div class='placement' placement='{{ card.is_card_back }}'></div>
      {{ card.html | safe }}
    </div>
    {% endfor %}
  </div>

  <div class="cards backs">
    {% for card in backs %}
    <div class="card {{ card.card_type }} {{ card.front_or_back }}" card_name="{{ card.name }}">
      <div class='placement' placement='{{ card.is_card_back }}'></div>
      {{ card.html | safe }}
    </div>
    {% endfor %}
  </div>

</body>

</html>
