<html>

<head>
  <link href="{{ style_global }}" type="text/css" rel="stylesheet" />
  <link href="{{ style_default }}" type="text/css" rel="stylesheet" />
  <link href="{{ style_print }}" media='print' type="text/css" rel="stylesheet" />
  <link href="{{ style_print_adjust }}" media='print' type="text/css" rel="stylesheet" />
  {% for style in styles %}
    <link href="{{ style }}" type="text/css" rel="stylesheet" />
  {% endfor %}
  <style>
    {{ icon_styles | safe }}
  </style>

  <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/format.js') }}"></script>
</head>

<body>

  <div id="info-div" class="hidden">
    <div id="page_size" class="">{{ page_size }}</div>
  </div>

  <div class="cards fronts">
    {% for card in fronts %}
    <div class="card {{ card.card_type }} {{ card.front_or_back }}" card_name="{{ card.name }}">
      <div class='placement' placement='{{ card.is_card_back }}'></div>
      {{ card.html | safe }}
    </div>
    {% endfor %}
  </div>

  <div class="cards backs">
    {% for card in backs %}
    <div class="card {{ card.card_type }} {{ card.front_or_back }}" card_name="{{ card.name }}">
      <div class='placement' placement='{{ card.is_card_back }}'></div>
      {{ card.html | safe }}
    </div>
    {% endfor %}
  </div>

</body>

</html>
