
{%- for resource_block in resources -%}
  {% set resource_names = resource_block.split() %}
  {% set resource_name = resource_names[0] %}

  {%- for resource in resource_names -%}
    {% if '{' not in resource or '}' not in resource %}
      img.icon.{{ resource | lower }} {
	content: url("/{{ game_name }}/resource/{{ resource_name | lower }}.png");
      }

      div.icon.{{ resource | lower }} {
	background-image: url("/{{ game_name }}/resource/{{ resource_name | lower }}.png");
      }

      img.icon.{{ resource | lower }}.required {
	content: url("/{{ game_name }}/resource/{{ resource_name | lower }}_required.png");
      }

      div.icon.{{ resource | lower }}.required {
	background-image: url("/{{ game_name }}/resource/{{ resource_name | lower }}_required.png");
      }

    {% endif -%}
  {% endfor -%}
{%- endfor -%}
