
.card {
    font-family: arial;
    /* Standard playing card size in mm and in pt */
    width: 63.5mm;
    width: 166.98pt;
    height: 88.9mm;
    height: 236.69pt; /* Just too big? */
    height: 233pt;
    border: 3px solid black;
    border-radius: 8px;
    /* Box sizing must be here with border and have a height defined! */
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    font-size: 13px;
}

.top.row {
    display: flex;
    flew-flow: row nowrap;
    justify-content: space-between;
}

.title {
    font-size: 19px;
    font-weight: bold;
}

.requirements {
    width: auto;
    justify-content: flex-end;
}

.costs {
    font-size: 10;
}

.tiny {
  max-width: 14pt;
  max-height: 9pt;
  vertical-align: middle;
}

.small {
  max-width: 17pt;
  max-height: 10pt;
}

.medium {
  max-width: 32pt;
  max-height: 18pt;
}

.large {
  max-width: 36pt;
  max-height: 36pt;
  padding: 1px;
}
