
body {
    margin: 0;
}

div.page_container {
    /* 573pt is the precise width of a printed pdf.
     * A safe border when printing is 0.25" (18pt). */
    padding: 18pt;
    width: 573pt;
    width: 544pt;
    height: 715pt;
    height: 686pt;

    background-color: #E6E6E6;
    border: 1px solid black;
}

div.page {
    display: inline-block;
}

.cards {
    display: flex;
    flex-flow: row wrap;
}

.page.back .cards {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
}

.card {
    /* Box sizing must be here with border and have a height defined! */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}
