
div.page {
  page-break-after: always;
  display: inline-block;
}

div.page.back {
  margin-left: 0;
}

div.page {
    background-color: white;
}

.page.back .cards {
    justify-content: flex-end;
    /*color: red;*/
}
